ul.wp-block-create-block-wp-latest-post-block {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	li {
		img {
			margin-bottom: 10px;
		}

		h5 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;

			a {
				color: #000;
			}
		}

		time {
			font-size: 12px;
			color: #969696;
		}

		p {
			font-size: 14px;
			color: #303030;
			line-height: 1.6;
			margin: 15px 0 0;
		}
	}
}
